.data {
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
}
.head {
  margin-top: 20px;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

button[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}